@charset "UTF-8";

article{
    background-color: snow;
    width: 400px;
    margin: auto;
    padding: 1px 10px;
    box-shadow: 3px 5px 4px rgb(0, 0, 0);
    border-radius: 10px;
}
h1#principal{
    padding: 20px;
    background-color: aqua;
    width: 400px;
    height: 50px;
    margin: auto;
    box-shadow: 3px 5px 4px black;
}
main{
    background-color: antiquewhite;
}
nav{
    background-color: peachpuff;
}
section{
    background-color: blueviolet;
}
footer{
    background-color: greenyellow;
}
aside.fora{
    background-color: brown;
}
aside.dentro{
    background-color: rgb(224, 14, 144);
}