@charset "UTF-8";

body{
    background-color: rgb(158, 223, 223);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    color: aliceblue;
    background-color: blue;
}
h1#principal{
    background-color: rgb(6, 53, 49);
    text-align: center;
    color: aliceblue;
}
.original{
    background-color: rgb(65, 204, 65);
}
.jovem{
    background-color: rgb(255, 255, 74);
}
.grande{
    background-color: rgb(236, 72, 72);
}